// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;

}
//init end

//pallette
@font-face {
    font-family: ClearBold;
    src: url('../fonts/ClearSans-Bold.ttf');
}
@font-face {
    font-family: ClearReg;
    src: url('../fonts/ClearSans-Regular.ttf');
}
.hidden{
    display: none;
}
$main-blue: #063350;
$main-red: #ed1b24;
$container-width: 1200px;
.container{
    width: $container-width;
    margin: auto;
}
$navbar-height: 84px;

#jo-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    .fader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
    }
    .content-container{
        padding: 2px;
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        iframe{
            display: block;
            width: 45vw;
            height: 45vh;
        }
    }
}
#jo-popup.active{
    display: block;
}
//pallette
body{
    // background-image: url('../img/pattern-background.jpg');
}

//NAVBAR
.logo-container{
    padding-left: 15px;
    font-family: 'Baloo Da';
    font-size: 30px;
    display: flex;
    align-items: center;
    color: white;
    .sub-caption{
        font-size: 10px;
        font-family: ClearReg;
        opacity: 0.7;
        text-align: left;
        padding: 0;
        width: 200px;
        display: inline-block;
        padding-left: 5px;
    }
    img{
        vertical-align: middle;
        padding-right: 10px;
        width: 55px;
    }
}
.mobile-handle{
    display: none;
}
#navbar{
    background-color: #006bb3;
    padding: 0px 0 5px;
    border-bottom: 0px solid #006bb3;
    color: white;
    font-family: ClearReg;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 55;
    .container{
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }
    .language-container{
        display: flex;
        position: absolute;
        top: -40px;
        right: 15px;
        border: 1px solid white;
        display: none;
        border-top: 0;
        .lang-choice{
            padding: 8px 15px;
            font-size: 10px;
            cursor: pointer;
        }
        .lang-choice.active{
            background: white;
            color: $main-blue
        }
    }
    .search-group{
        display: flex;
        overflow: hidden;
        border-radius: 5px;
    }
    .nav-drop{
        background: white;
        color: #555;
        padding: 0px 10px;
        height: 30px;
        outline: none;
        border-right: 1px solid #ccc;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        width: 80px;
        font-size: 14px;
    }
    .nav-input{
        background: white;
        color: #555;
        padding: 5px 15px;
        height: 30px;
        width: 290px;
        outline: none;
    }
    .cart-button{
        padding: 8px 0;
        padding-left: 20px;
        cursor: pointer;
    }
    .nav-submit{
        background: #061620;
        color: #eee;
        padding: 5px 30px;
        height: 30px;
        outline: none;
    }
    .right{
        position: relative;
        top: 5px;
    }
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        font-size: 14px;
        position: relative;
        top: 3px;
        img{
            display: inline-block;
            vertical-align: baseline;
            position: relative;
            top: 3px;
            padding-right: 5px;
        }
    }
    .bottom{
        ul{
            display: flex;
            position: relative;
            justify-content: flex-end;
            li{
                a{
                    text-transform: uppercase;
                    font-family: ClearBold;
                    display: block;
                    height: 40px;
                    padding: 0 20px;
                    line-height: 40px;
                    font-size: 14px;
                }
            }

            li:hover{
                background: rgba(0,0,0,0.8);
                .sub-menu{
                    display: block;
                }
            }
        }
    }
    ul.sub-menu{
        background: #061620;
        color: white;
        position: absolute;
        flex-wrap: wrap;
        width: 220px;
        top: 50px;
        display: none;
        padding-bottom: 10px;
        // border-top: 5px solid $main-red;
        li{
            width: 100%;

            a{
                font-family: ClearReg;
                text-transform: capitalize;
                height: 30px;
                line-height: 30px;
            }
        }
        li:hover{
            background: none;
            color: #3c6681;
        }
    }
}
//NAVBAR


//parentContainer
#parentContainer{
    position: relative;
    padding-top: $navbar-height;
    font-family: ClearReg;
    .container{
        background: white;
    }
}
.white-section{
    background: white;
    width: 1150px;
    margin: auto;
    padding: 0 50px 50px;
    .container{
        width: 100%;
    }
}
#indexSlider{
    position: relative;
    .slider-timer{
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: transparent;
        overflow: hidden;
        .slider-bar{
            height: 100%;
            width: 0%;
            background: red;

        }
        .slider-bar.empty{
            width: 0%;
            // transition: all 2s linear;
            
        }
        .slider-bar.full{
            width: 100%;
        }
    }
    .arrow-container.next{
        right: 35px;
        background: rgba(255,255,255,0.4);
    }
    .arrow-container.prev{
        left: 35px;
        background: rgba(255,255,255,0.4);
    }
    .slide-items{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
    .container{
        background: transparent;
        position: relative;
        height: 55vh;
        width: 1100px;
    }
    .slide-img{
        position: absolute;
        transform: translate(-50%, -50%);
        // opacity: 0.9;
        max-width: 22vw;
    }
    .text-container{
        position: absolute;
        color: white;
        transform: translate(-50%, -50%);
        .title{
            text-transform: uppercase;
            font-size: 38px;
            font-family: ClearBold;
            padding: 15px 25px 0;
            background: rgba(0,0,0,0.9);
            opacity: 0.8;
            display: inline-block;
        }
        .caption{
            width: 500px;
            font-size: 18px;
            padding: 15px 25px;
            background: rgba(0,0,0,0.9);
            // opacity: 0.8;
        }
        .link-button{
            font-size: 18px;
            padding: 15px 25px;
            background: #f0802b;
            display: inline-block;
            opacity: 1;
            text-transform: uppercase;
            position: relative;
        }
        .link-button:after{
            position: absolute;
            content: "";
            width: 90%;
            height: 70%;
            border: 1px solid white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s ease;
        }
        .link-button:hover:after{
            opacity: 1;
        }
    }
    .hor-pos-1{
        left: 20%;
    }
    .hor-pos-2{
        left: 35%;
    }
    .hor-pos-3{
        left: 50%;
    }
    .hor-pos-4{
        left: 65%;
    }
    .hor-pos-5{
        left: 80%;
    }

    .vert-pos-1{
        top: 20%;
    }
    .vert-pos-2{
        top: 35%;
    }
    .vert-pos-3{
        top: 50%;
    }
    .vert-pos-4{
        top: 65%;
    }
    .vert-pos-5{
        top: 85%;
    }
}
.section-title{
    font-size: 24px;
    padding-bottom: 10px;
    font-family: ClearBold;
    text-transform: uppercase;
    color: $main-blue;
    text-align: center;
    background: white;
    padding: 0px 15px 10px;
    background: white;
    z-index: 5;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.sub-caption{
    width: 80%;
    margin: auto;
    text-align: center;
}
#partnerSection{
    // text-align: center;
    padding: 40px 0;
    .partner-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 20px 0;
        overflow: hidden;
        max-height: 176px;
        transition: all .3s ease;
        width: 1050px;
        .flex-module{
            position: relative;
            width: 150px;
            height: 150px;
            transition: all .3s ease;
            cursor: pointer;
            img{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 80%;
                max-width: 80%;
            }
        }
        .flex-module:hover{
            box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
        }
    }
    .partner-flex.active{
        max-height: 1950px;
    }
}
.wing-line{
    height: 1px;
    width: 100%;
    background: black;
    position: relative;
    top: 19px;
    // width: 1190px;
}

#indexLatest{
    margin-top: 10px;
    .latest-product-belt{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px auto;
        // padding: 0 40px;
        .product-module{
            margin: 0 10px;
            border: 1px solid #ccc;
            font-family: ClearBold;
            padding: 10px 10px 40px;
            border-radius: 3px;
            transition: opacity 1.3s ease, top 1.3s ease;;
            opacity: 0.0;
            position: relative;
            .product-image{
                margin-bottom: 20px;
                position: relative;
                overflow: hidden;
                height: 200px;
            }
            img{
                display: block;
                margin: auto;
                transition: all .3s ease;
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .zoom{
                height: 40px;
                width: 40px;
                background: $main-red;
                position: absolute;
                bottom: -20px;
                left: -20px;
                transform: rotateZ(45deg);
                opacity: 0;
                transition: all .3s ease;
            }
            .product-brand{
                color: $main-red;
            }
            .product-name{
                min-height: 80px;
                // line-height: 14px;
                font-size: 14px;
                margin-top: 3px;
                text-transform: uppercase;
            }
            .product-sku{
                opacity: 0.5;
                margin: 5px 0 50px;
                font-size: 14px;
            }
        }
        .product-module.slick-active{
            opacity: 1;
            top: 0;
        }
        .product-module:hover{
            border: 1px solid #555;
            img{
                // opacity: 0.4;
                transform: translate(-50%, -50%) scale(1.1);
            }
            .zoom{
                opacity: 1;
            }
        }
    }
}
.red-button{
    text-transform: uppercase;
    font-family: ClearBold;
    color: white;
    background: $main-red;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;
}
a.red-button.added {
    background-color: #2AB41D;
    background-image: url(http://img.static.sldclc.com/checked.png);
    background-repeat: no-repeat;
    padding-left: 32px;
    background-size: 12px 12px;
    background-position: 17% 50%;
    display: none;
}
.red-button:hover{
    opacity: 0.5;
}
.view-all-brand{
    @extend .red-button;
    margin: auto;
    width: 100px;
    display: block;
    text-align: center;
}
#indexNews{
    margin-top: 80px;
    padding-bottom: 100px;
    .news-belt{
        display: flex;
        justify-content: center;
        .news-module{
            width: 33.3%;
            border: 5px solid white;
            .news-image{
                overflow: hidden;
                height: 255px;
                position: relative;
            }
            img{
                display: block;
                transition: all .3s ease;
                position: relative;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
            .news-title{
                font-family: ClearBold;
                color: $main-blue;
                font-size: 25px;
                text-transform: uppercase;
                padding-top: 10px;
            }
            .news-paragraph{
                font-size: 14px;
                padding-right: 10%;
                line-height: 18px;
                padding-top: 10px;
            }
        }
        .news-module:hover{
            img{
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }
}
//parentContainer
.slick-slide{
    outline: none;
}
.arrow-container{
    height: 32px;
    width: 32px;
    background: rgba(0,0,0,1);
    position: absolute;
    z-index: 5;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;
    .arrow{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(-45deg);
        border: 2px solid white;
        height: 35%;
        width: 35%;
    }
}
.arrow-container.slick-disabled{
    background: rgba(0,0,0,.5);
}
.arrow-container.next{
    right: -35px;
    .arrow{
        left: 45%;
        border-top: 0;
        border-left: 0;
    }
}
.arrow-container.prev{
    left: -35px;
    .arrow{
        left: 55%;
        border-bottom: 0;
        border-right: 0;
    }
}
.w80{
    width: 90%;
    margin: auto;
}
#footer{
    // height: 400px;
    // margin-top: 100px;
    background: #002b58;
    border-top: 10px solid $main-red;
    position: relative;
    color: rgba(255,255,255,0.8);
    font-family: ClearReg;
    .menu{
        li:hover{
            color: rgba(250,250,250,0.4);
        }
    }
    .logo-container{
        padding-left: 0;
    }
    .container{
        padding: 20px 0;
        position: relative;
    }
    .floater{
        position: absolute;
        bottom: 100%;
        display: flex;
        right: 0px;
        // display: none;
    }
    .contact-module{
        background: #ed1b24;
        margin: 0px 0px;
        padding: 10px 20px 15px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: white;
        font-family: ClearBold;
        color: rgba(255, 255, 255, 0.9);
        font-size: 14px;
        border-bottom: 10px solid #ed1b24;
        box-shadow: inset 0px -3px 7px 0px rgba(0, 0, 0, 0.55);
    }
    .footer-flex{
        display: flex;
        justify-content: space-between;

        padding: 30px 0;
        font-size: 13px;
        ul{
            li{
                padding: 2px 0;
            }
        }
        .contacts{
            font-size: 13px;
        }
        .module-title{
            font-family: ClearBold;
            margin-bottom: 15px;
            font-size: 15px;
        }
        .flex-map{
            width: 40%;
            padding: 30px 0;
            img{
                width: 100%;
                display: block;
            }
        }
    }

    .copyright{
        background: #061620;
        padding: 10px;
        .container{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: rgba(255,255,255,0.4);
            ul{
                li{
                    display: inline-block;
                    a{
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

.breadcrumb{
    font-size: 14px;
    font-family: ClearReg;
    margin: 20px 0 40px;
    padding-top: 30px;
    .page{
        cursor: pointer;
    }
    .page:hover{
        text-decoration: underline;
    }
    .page.active{
        color: $main-red;
    }
    .page:last-child:after{
        content: "";
    }
    .page:after{
        content: "/";
        padding-left: 5px;
    }
}
.blue-button{
    background: #3157b3;
    color: rgba(255,255,255,0.87);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.blue-button:hover{
    opacity: 0.8;
}
#productDetail{
    min-height: 80vh;
    padding: 10px 10px;
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    .brand-logo{
        // width: 50px;
        img{
            display: block;
            max-height: 80px;
            max-width: 130px;
            // max-width: 100px;
        }
    }
    .filter-group{
        border: 1px solid #ddd;
        margin-right: 20px;
        padding: 10px 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        max-height: 43px;
        overflow: hidden;
        transition: all .5s linear;
        .filter-handle{
            font-family: ClearBold;
            text-transform: uppercase;
            padding: 0 10px 10px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;

        }
        .filter-handle:after{
            content: "+";
            position: absolute;
            right: 10px;
        }
        .filter-options{
            padding-left: 10px;
            font-size: 14px;
            li{
                padding: 5px 0;
                cursor: pointer;
            }
            li:hover{

            }
        }
    }
    .filter-group.active{
        max-height: 2000px;
        .filter-handle:after{
            content: "-";
            position: absolute;
            right: 10px;
        }
    }
    .product-thumbnail{
        width: 300px;
        // padding: 30px 0;
        .product-preview{
            overflow: hidden;
            width: 300px;
            height: 300px;
            position: relative;
        }
        img{
            display: block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .product-grid{
            display: flex;
            padding: 30px 0;
            .product-box{
                width: 50px;
                height: 50px;
                border: 1px solid #ddd;
                padding: 5px;
                margin-right: 5px;
                cursor: pointer;
                position: relative;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 80%;
                    max-height: 80%;
                }
            }
        }
    }
    .product-description{
        width: 60%;
        padding-left: 20px;
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .product-title{
            font-family: ClearBold;
            margin: 10px 0;
            font-size: 17px;
        }
        .product-paragraph{
            font-size: 13px;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }
        .product-anchor{
            font-size: 15px;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }
        .product-anchor.active{
            color: $main-blue;
            border-bottom: 1px solid $main-blue;
        }

    }
    .related-product-belt{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px auto;
        width: 100%;
        // padding: 0 40px;
        .product-module{
            margin: 0 5px;
            border: 1px solid #ccc;
            font-family: ClearBold;
            padding: 15px 15px 40px;
            border-radius: 3px;
            transition: opacity 1.3s ease;
            // opacity: 0.0;
            width: 23%;
            .product-image{
                margin-bottom: 20px;
                position: relative;
                overflow: hidden;
                min-height: 145px;
            }
            img{
                display: block;
                margin: auto;
                width: 100%;
                transition: all .3s ease;
            }
            .zoom{
                height: 40px;
                width: 40px;
                background: $main-red;
                position: absolute;
                bottom: -20px;
                left: -20px;
                transform: rotateZ(45deg);
                opacity: 0;
                transition: all .3s ease;
            }
            .product-brand{
                color: $main-red;
            }
            .product-name{
                min-height: 30px;
                // line-height: 14px;
                font-size: 14px;
                margin-top: 3px;
                text-transform: uppercase;
            }
            .product-sku{
                opacity: 0.5;
                margin: 5px 0 50px;
                font-size: 14px;
            }
        }
        .product-module.slick-active{
            opacity: 1;
        }
        .product-module:hover{
            border: 1px solid #555;
            img{
                // opacity: 0.4;
                transform: scale(1.1);
            }
            .zoom{
                opacity: 1;
            }
        }
    }
}
.has-submenu{
    position: relative;
    padding-right: 10px;
}
.has-submenu:after{
    content: "";
    height: 4px;
    width: 4px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: translateY(-50%) rotateZ(45deg);
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;

}
.filter-parent{
    .filter-parent-handle{
        display: none;
    }
}
.product-highlights{
    width: 100%;
    margin-top: 50px;
    .highlight-flex{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        position: relative;
        top: -41px;
        .flex-module{
            padding: 10px 10px;
            border: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
            font-size: 14px;
            background: #fff;
            margin-right: -1px;
            color: #888;
            cursor: pointer;
            text-align: center;
            width: 160px;
            transition: all .3s ease;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        .flex-module.active{
            background: #d7d7d7;
            border: 1px solid #d7d7d7;
            color: black;
            border-bottom: 1px solid #d7d7d7;
        }
        .highlight-container{
            width: 100%;
            padding: 30px 10px;
            display: none;
            font-size: 14px;
            margin-bottom: 20px;
            margin-top: -1px;
            border: 1px solid #d7d7d7;
        }
        .highlight-container.active{
            display: block;
        }
    }
}
.spec-group{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
    .spec-caption{
        min-width: 120px;


    }
}
.w25{
    width: 25%;
}
.w75{
    width: 75%;
}
.filter-options{
    li{
        a{
            display: block;
        }
    }
    li:hover{
        text-decoration: underline;
    }
}
#productList{
    min-height: 80vh;
    padding: 10px 10px;
    .flex{
        display: flex;
        justify-content: space-between;
        .w75{
            padding-left: 30px;
        }
    }
    .filter-group{
        border: 1px solid #ddd;
        margin-right: 20px;
        padding: 10px 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        max-height: 43px;
        overflow: hidden;
        transition: all .5s linear;
        .filter-handle{
            font-family: ClearBold;
            text-transform: uppercase;
            padding: 0 10px 10px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;

        }
        .filter-handle:after{
            content: "+";
            position: absolute;
            right: 10px;
        }
        .filter-options{
            padding-left: 10px;
            font-size: 14px;
            li{
                padding: 5px 0;
                cursor: pointer;
            }
        }
    }
    .filter-group.active{
        max-height: 2000px;
        .filter-handle:after{
            content: "-";
            position: absolute;
            right: 10px;
        }
    }
    .banner{
        height: 180px;
        background: $main-blue;
    }
    .product-category{
        width: 100%;
        font-family: ClearBold;
        padding: 20px 0;
        font-size: 20px;
        .total-items{
            float: right;
            font-family: ClearReg;
            opacity: 0.6;
            font-size: 14px;
            .item{
                font-weight: bold;
            }
        }
    }
    .product-list-parent{
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }
    .product-module{
        width: 23%;
        margin-right: 2%;
        font-family: ClearBold;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 10px 10px;
        position: relative;
        line-height: 17px;
        .image-container{
            height: 220px;
            position: relative;
            overflow: hidden;
            img{
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
        }
        .red-button{
            display: inline-block;
            font-size: 13px;
            position: absolute;
            bottom: 0;
            border: 2px solid transparent;
        }
        .red-button:hover{
            background: white;
            color: $main-red;
            border: 2px solid $main-red;
        }
        a.red-button.added {
            background-color: #2AB41D;
            background-image: url(http://img.static.sldclc.com/checked.png);
            background-repeat: no-repeat;
            padding-left: 32px;
            background-size: 12px 12px;
            background-position: 17% 50%;
            display: none;
        }
        img{
            display: block;
        }
    }
    .brand{
        color: $main-red;
    }
    .name{
        text-transform: uppercase;
        margin-bottom: 30px;
        min-height: 50px;
    }
}

.post-pagination{
    width: 100%;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    li > span, a{
        padding: 5px;
        height: 40px;
        width: 40px;
        text-align: center;
        margin: 0 5px;
        border: 1px solid #eee;
        cursor: pointer;
        display: block;
        line-height: 28px;
    }
    li.active{
        font-family: ClearBold;
    }
}
#brand{
    padding-top: 10px;
    padding-bottom: 100px;
    .brand-flex{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-top: 50px;
        .brand-module{
            height: 105px;
            width: 105px;
            border: 1px solid #eee;
            position: relative;
            text-align: center;
            align-items: center;
            align-content: center;
            padding: 0.5%;
            img{
                display: block;
                margin: auto;
                max-width: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

#promotion{
    padding-top: 10px;
    padding-bottom: 100px;
    .promotion-flex{
        padding: 60px 0 100px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .promotion-module{
            position: relative;
            img{
                display: block;
            }
            .hover-tint{
                height: 100%;
                width: 100%;
                background: rgba(8, 27, 41, 0.88);
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                transition: all .3s ease;
                .border-button{
                    border: 1px solid white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    padding: 10px 15px;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }

    }
    .promotion-module:hover{
        .hover-tint{
            opacity: 1;
        }
    }
}

#newsList, #videoList{
    min-height: 80vh;
    padding: 10px;
    .f-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px !important;
    }
    .hover-tint{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $main-blue;
        opacity: 0;
        transition: all .3s ease;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        flex-wrap: wrap;
    }
    .flex-module{
        display: flex;
        width: 50%;
        margin-bottom: 40px;
        cursor: pointer;
        .image-box{
            width: 50%;
            position: relative;
            img{
                width: 100%;
                display: block;
            }
        }
        .desc{
            font-family: ClearBold;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 5px;
            width: 50%;
            color: $main-blue;
            .date{
                font-family: ClearReg;
                opacity: 0.6;
                color: black;
            }
        }
    }
    .flex-module:hover{
        text-decoration: underline;
        .hover-tint{
            opacity: .7;
        }
    }
}

#newsDetail{
    padding: 10px;
    min-height: 80vh;
    padding-bottom: 200px;
    .date{
        text-align: center;
        opacity: 0.8;
        font-size: 14px;
        padding: 5px 0;
    }
    .news-banner{
        padding: 30px 0;
        width: 85%;
        margin: auto;
        img{
            display: block;
            width: 100%;
        }
    }
    .paragraph{
        width: 75%;
        margin: auto;
        color: rgba(0,0,0,0.86);
        text-align: justify;
        img{
            display: block;
            margin: 10px 0 0;
        }
    }
}
#map{
    min-height: 400px;
    background: black;
}
textarea{
    font-family: Inherit;
}
#contactUs{
    padding: 10px;
    min-height: 80vh;
    padding-bottom: 100px;
    .contact-flex{
        padding-top: 40px;
        display: flex;
        width: 80%;
        margin: auto;
    }
    .title{
        font-family: ClearBold;
        font-size: 20px;
        color: $main-blue;
    }
    .left{
        width: 60%;
        padding-right: 10%;
    }
    .form-container{
        display: flex;
        flex-wrap: wrap;
        .group{
            position: relative;
            width: 100%;
            .floating-placeholder{
                font-size: 13px;
                color: #aaa;
                position: absolute;
                left: 15px;
                top: 15px;
                transition: all .3s ease;
            }
            .floating-placeholder.active{
                font-size: 8px;
                top: 10px;
            }
        }
        .full-input{
            background: #fff;
            border: 1px solid #aaa;
            width: 100%;
            margin: 5px 0;
            padding: 17px 15px 10px;
            outline: none;
            border-radius: 5px;
        }
        .full-submit{
            background: $main-blue;
            width: 100%;
            margin: 5px 0;
            padding: 15px 15px;
            outline: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    }
    .group{
        font-size: 14px;
        margin-bottom: 15px;
        // line-height: 23px;
        .title{
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
}

#about{
    padding: 30px 0;
    background-image: url('../img/dummy/dummy-9.png');
    .section-title{
        background: none;
        color: white;
    }
    .paragraph{
        width: 60%;
        margin: auto;
        text-align: center;
        font-size: 14px;
        color: white;
        opacity: 0.87;
        padding: 20px 0;
    }
}

#vision{
    padding: 40px 0;
    .section-title{
        font-size: 16px;
    }
    .vision-flex{
        display: flex;
        padding: 20px 0;
        justify-content: center;
        .flex-module{
            width: 310px;
            height: 310px;
            background: red;
            border-radius: 50%;
            margin: 0 -20px;
            position: relative;
            transition: all .4s ease;
            color: white;
            cursor: pointer;
            .ring{
                width: 85%;
                height: 85%;
                border: 1px solid #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                padding: 20% 8%;
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                .title{
                    font-family: ClearBold;
                    opacity: 0.7;
                    width: 100%;
                }
                .paragraph{
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
        }
        .flex-module.active{
            z-index: 5;
        }
        .red{
            background: #a92d2a;
            text-align: right;
        }
        .blue{
            background: #273393;
        }
        .flex-module:hover{
            z-index: 5;
        }
    }
    .vision-flex:hover{
        .flex-module{
        }
        .flex-module:hover{
            z-index: 5;
            opacity: 1;
        }
    }
}

#proposition{
    padding: 40px 0;
    padding-bottom: 150px;
    .section-title{
        font-size: 16px;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        .flex-module{
            width: 25%;
            padding: 20px;
            img{
                display: block;
                padding-bottom: 20px;
            }
        }
        .top{
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-bottom: 20px;
            position: relative;
            .title{
                font-family: ClearBold;
                letter-spacing: 0;
            }
        }
        .top:after{
            content: "";
            width: 40px;
            border: 1px solid #ddd;
            position: absolute;
            bottom: 9px;
        }
        .paragraph{
            font-size: 13px;
            // padding-right: 30px;
        }
    }
}
.product-video {
    padding: 10px 0;
    iframe.yt-video {
    width: 400px;
    height: 225px;
    }
}
.enquiry-empty-container {
    text-align: center;
    padding: 30px 0;
}
.view-product-button{
    @extend .red-button;
    background: #333;
    width: 200px;
    text-align: center;
    margin: 30px auto;
}
#inquiryParent{
    padding-top: 40px;
    font-family: ClearReg;
    .section-title{
        text-align: left;
        width: 100%;
    }
    .table-parent{
        padding-bottom: 40px;
        .table-flex{
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
        }
        .table-flex.header{
            font-family: ClearBold;
            text-transform: uppercase;
            border: 1px solid #ccc;
            padding: 10px 20px;
            color: $main-blue;
        }
        .table-flex:last-child{
            border-bottom: 0;
        }
    }
    .table-parent.no-border{
        .table-flex{
            border-bottom: 0;
        }
        .table-flex.header{
            border: 1px solid #ccc;
        }
        .table-flex:last-child{
            border-top: 1px solid #ccc;
        }
    }
    .delete-icon{
        width: 40px;
    }
    .product-quantity{
        width: 10%;
    }
    .product-notes{
        width: 30%;
    }
    .subcaption{
        font-family: ClearReg;
        font-size: 13px;
        opacity: 0.7;
    }
    .caption{
        width: 35%;
        font-family: ClearBold;

    }
    .full-input{
        background: #eee;
        width: 100%;
        resize: vertical;
        border: 1px solid #ddd;
        outline: none;
        padding: 10px;
    }
    .full-input.success{
        background: #e2efd5;
        border: 1px solid #5f953c;
    }
    .full-input.failed{
        background: #f5d8d8;
        border: 1px solid #c34545;
    }
    .number-field{
        background: white;
        border: 1px solid #aaa;
        padding: 0 5px;
        height: 35px;
        min-width: 60px;
        width: 60px;
        max-width: 100px;
        outline: none;
    }
    .inquiry-button{
        background: $main-red;
        color: white;
        font-family: ClearBold;
        padding: 10px 20px;
        cursor: pointer;
    }
    .caption{
        .upload{

        }
    }
    .group{
        width: 100%;
        display: flex;
        align-items: center;
        .grey-button{
            background: #333;
            border-radius: 3px;
            color: white;
            padding: 8px 20px;
            margin: 0 10px;
            cursor: pointer;
            font-size: 12px;

        }
        .full-input{
            width: 35%;
            display: inline-block;
        }
    }
    .product-container{
        display: flex;
        align-items: center;
        width: 50%;
        img{
            max-width: 100px;
        }
        .desc{
            padding-left: 20px;
            font-family: ClearBold;
            .brand{
                color: $main-red;
            }
        }
    }
}
