* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: ClearBold;
  src: url("../fonts/ClearSans-Bold.ttf");
}

@font-face {
  font-family: ClearReg;
  src: url("../fonts/ClearSans-Regular.ttf");
}

.container {
  width: 100%;
  margin: auto;
}

.logo-container {
  padding-left: 15px;
  font-family: ClearBold;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: white;
}

.logo-container .sub-caption {
  font-size: 10px;
  font-family: ClearReg;
  opacity: 0.7;
  text-align: left;
  padding: 0;
  width: 100%;
  display: none;
}

.logo-container img {
  vertical-align: middle;
  padding-right: 10px;
  width: 40px;
}

#navbar {
  background-color: #063350;
  padding: 15px 0;
  border-bottom: 5px solid #ed1b24;
  color: white;
  font-family: ClearReg;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 55;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .search-group {
  display: flex;
  flex-wrap: wrap;
}

#navbar .nav-drop {
  background: white;
  color: #555;
  padding: 5px 10px;
  height: 37px;
  outline: none;
  border-right: 1px solid #ccc;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  width: 30%;
}

#navbar .cart-button {
  padding: 10px 0;
}

#navbar .nav-input {
  background: white;
  color: #555;
  padding: 5px 15px;
  height: 37px;
  width: 50%;
  outline: none;
}

#navbar .nav-submit {
  background: #000;
  color: #eee;
  padding: 5px 10px;
  height: 37px;
  outline: none;
  width: 20%;
}

#navbar .right {
  position: relative;
  top: 15px;
  position: absolute;
  top: 73px;
  background: #061620;
  padding-bottom: 20px;
  display: none;
}

#navbar .right.active {
  display: block;
}

#navbar .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 14px;
  flex-wrap: wrap;
  padding: 10px 20px 0;
  position: relative;
}

#navbar .top img {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  top: 3px;
  padding-right: 5px;
}

#navbar .bottom ul {
  display: flex;
  flex-wrap: wrap;
}

#navbar .bottom ul li {
  width: 100%;
  position: relative;
}

#navbar .bottom ul li a {
  text-transform: uppercase;
  font-family: ClearBold;
  display: block;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14px;
}

#navbar .bottom ul li .sub-menu {
  display: none;
  padding-left: 10px;
  padding-bottom: 15px;
}

#navbar .bottom ul li .sub-menu a {
  font-family: ClearReg;
  height: 30px;
  padding: 0 20px;
  line-height: 30px;
  text-transform: capitalize;
}

#navbar .bottom ul li.active {
  background: rgba(0, 0, 0, 0.8);
}

#navbar .bottom ul li.active .sub-menu {
  display: block;
}

.has-submenu > :after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  position: absolute;
  right: 76%;
  top: 19px;
}

.has-submenu.active > :after {
  content: "";
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
  position: absolute;
  right: 76%;
  top: 19px;
}

.mobile-handle {
  width: 30px;
  margin-right: 15px;
  position: relative;
  transition: all .3s ease;
}

.mobile-handle .line {
  margin: 4px 5px;
  border: 1px solid white;
  position: relative;
  transition: all .2s ease;
  top: 0;
}

.mobile-handle.active {
  transform: rotateZ(90deg);
}

.mobile-handle.active #line1 {
  transform: rotateZ(45deg);
  top: 6px;
}

.mobile-handle.active #line2 {
  opacity: 0;
}

.mobile-handle.active #line3 {
  transform: rotateZ(135deg);
  top: -6px;
}

.language-container {
  display: none;
}

.spec-group {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  margin: 0 10px;
}

.spec-group .spec-caption {
  min-width: 120px;
}

#parentContainer {
  position: relative;
  padding-top: 122px;
  font-family: ClearReg;
}

#indexSlider {
  background: black;
  height: 40vh;
}

.section-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-family: ClearBold;
  text-transform: uppercase;
  color: #063350;
  text-align: center;
}

.sub-caption {
  width: 80%;
  margin: auto;
  text-align: center;
}

#partnerSection {
  text-align: center;
  padding: 40px 0;
}

#partnerSection .partner-flex {
  display: flex;
  flex-wrap: wrap;
}

#partnerSection .partner-flex .flex-module {
  position: relative;
  width: 50%;
  transition: all .3s ease;
  cursor: pointer;
}

#partnerSection .partner-flex .flex-module img {
  margin: 30px auto;
  display: block;
  height: 50%;
}

#partnerSection .partner-flex .flex-module:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.wing-line {
  background: white;
  position: relative;
}

.slick-slide {
  outline: none;
}

.arrow-container {
  height: 32px;
  width: 32px;
  background: black;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s ease;
}

.arrow-container .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg);
  border: 2px solid white;
  height: 35%;
  width: 35%;
}

.arrow-container.slick-disabled {
  background: rgba(0, 0, 0, 0.5);
}

.arrow-container.next {
  right: 10px;
}

.arrow-container.next .arrow {
  left: 45%;
  border-top: 0;
  border-left: 0;
}

.arrow-container.prev {
  left: 10px;
}

.arrow-container.prev .arrow {
  left: 55%;
  border-bottom: 0;
  border-right: 0;
}

#indexLatest {
  margin-top: 50px;
}

#indexLatest .latest-product-belt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  padding: 0 10px;
}

#indexLatest .latest-product-belt .product-module {
  margin: 0 5px;
  width: 47%;
  border: 1px solid #ccc;
  font-family: ClearBold;
  padding: 20px 15px 40px;
  border-radius: 3px;
  transition: all .3s ease;
}

#indexLatest .latest-product-belt .product-module .product-image {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#indexLatest .latest-product-belt .product-module img {
  display: block;
  margin: auto;
  width: 100%;
  transition: all .3s ease;
}

#indexLatest .latest-product-belt .product-module .zoom {
  height: 40px;
  width: 40px;
  background: #ed1b24;
  position: absolute;
  bottom: -20px;
  left: -20px;
  transform: rotateZ(45deg);
  opacity: 0;
  transition: all .3s ease;
}

#indexLatest .latest-product-belt .product-module .product-brand {
  color: #ed1b24;
}

#indexLatest .latest-product-belt .product-module .product-name {
  min-height: 30px;
  line-height: 14px;
  margin-top: 3px;
  text-transform: uppercase;
}

#indexLatest .latest-product-belt .product-module .product-sku {
  opacity: 0.5;
  margin: 5px 0 50px;
  font-size: 14px;
}

#indexLatest .latest-product-belt .product-module:hover {
  border: 1px solid #555;
}

#indexLatest .latest-product-belt .product-module:hover img {
  opacity: 0.4;
}

#indexLatest .latest-product-belt .product-module:hover .zoom {
  opacity: 1;
}

.red-button {
  text-transform: uppercase;
  font-family: ClearBold;
  color: white;
  background: #ed1b24;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 3px;
}

#indexNews {
  margin-top: 80px;
}

#indexNews .news-belt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 0 10px;
}

#indexNews .news-belt .news-module {
  width: 100%;
  margin-bottom: 20px;
}

#indexNews .news-belt .news-module .news-image {
  overflow: hidden;
}

#indexNews .news-belt .news-module img {
  display: block;
  width: 100%;
  transition: all .3s ease;
  position: relative;
  transform: scale(1.1);
}

#indexNews .news-belt .news-module .news-title {
  font-family: ClearBold;
  color: #063350;
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 10px;
}

#indexNews .news-belt .news-module .news-paragraph {
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
}

#indexNews .news-belt .news-module:hover img {
  transform: scale(1);
}

#footer {
  margin-top: 100px;
  background: #063350;
  border-top: 10px solid #ed1b24;
  position: relative;
}

#footer .logo-container {
  padding-left: 0;
  display: flex;
  justify-content: center;
}

#footer .flex-map {
  width: 100%;
  padding-top: 20px;
}

#footer .flex-map img {
  width: 100%;
  display: block;
}

#footer .container {
  padding: 20px 0;
}

#footer .floater {
  position: absolute;
  bottom: 100%;
  display: flex;
  right: 0;
}

#footer .contact-module {
  background: #ed1b24;
  margin: 0px 10px;
  padding: 10px 20px 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  font-family: ClearBold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  border-bottom: 10px solid #ed1b24;
  box-shadow: inset 0px -3px 7px 0px rgba(0, 0, 0, 0.55);
}

#footer .footer-flex {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: ClearReg;
  padding: 30px 10px;
  flex-wrap: wrap;
}

#footer .footer-flex .flex-module {
  width: 100%;
  margin-bottom: 10px;
}

#footer .footer-flex .flex-module ul {
  display: flex;
  flex-wrap: wrap;
}

#footer .footer-flex .flex-module ul li {
  padding: 0 10px 0 0;
  font-size: 13px;
  margin: 5px 0;
  width: 50%;
}

#footer .footer-flex .flex-module ul li:last-child {
  border: none;
}

#footer .module-title {
  font-family: ClearBold;
  margin-top: 15px;
}

#footer .copyright {
  background: #061620;
  padding: 10px;
  color: white;
  font-family: ClearReg;
  font-size: 13px;
  text-align: center;
}

.breadcrumb {
  font-size: 14px;
  font-family: ClearReg;
  margin: 20px 0 40px;
}

.breadcrumb .page.active {
  color: #ed1b24;
}

.breadcrumb .page:last-child:after {
  content: "";
}

.breadcrumb .page:after {
  content: "/";
  padding-left: 5px;
}

.blue-button {
  background: #3157b3;
  color: rgba(255, 255, 255, 0.87);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#productDetail {
  min-height: 80vh;
  padding: 10px 10px;
}

#productDetail .product-preview {
  border: 1px solid #eee;
  padding: 20px;
}

#productDetail .flex {
  display: flex;
  flex-wrap: wrap;
}

#productDetail .filter-group {
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  max-height: 43px;
  overflow: hidden;
  transition: all .5s linear;
}

#productDetail .filter-group .filter-handle {
  font-family: ClearBold;
  text-transform: uppercase;
  padding: 0 10px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

#productDetail .filter-group .filter-handle:after {
  content: "+";
  position: absolute;
  right: 10px;
}

#productDetail .filter-group .filter-options {
  padding-left: 10px;
  font-size: 14px;
}

#productDetail .filter-group .filter-options li {
  padding: 5px 0;
  cursor: pointer;
}

#productDetail .filter-group.active {
  max-height: 1000px;
}

#productDetail .filter-group.active .filter-handle:after {
  content: "-";
  position: absolute;
  right: 10px;
}

#productDetail .product-thumbnail {
  width: 100%;
  padding: 30px 0;
}

#productDetail .product-thumbnail img {
  display: block;
  margin: auto;
}

#productDetail .product-thumbnail .product-grid {
  display: flex;
  padding: 30px 0;
  justify-content: center;
}

#productDetail .product-thumbnail .product-grid .product-box {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}

#productDetail .product-thumbnail .product-grid .product-box img {
  width: 100%;
}

#productDetail .product-description {
  width: 100%;
}

#productDetail .product-description .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#productDetail .product-description .product-title {
  font-family: ClearBold;
  margin: 10px 0;
  font-size: 17px;
}

#productDetail .product-description .product-paragraph {
  font-size: 13px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#productDetail .product-description .product-anchor {
  font-size: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#productDetail .product-description .product-anchor.active {
  color: #063350;
  border-bottom: 1px solid #063350;
}

#productDetail .related-product-belt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  width: 100%;
}

#productDetail .related-product-belt .product-module {
  margin: 0 5px;
  border: 1px solid #ccc;
  font-family: ClearBold;
  padding: 15px 15px 40px;
  border-radius: 3px;
  transition: opacity 1.3s ease;
  opacity: 0.0;
}

#productDetail .related-product-belt .product-module .product-image {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#productDetail .related-product-belt .product-module img {
  display: block;
  margin: auto;
  width: 100%;
  transition: all .3s ease;
}

#productDetail .related-product-belt .product-module .zoom {
  height: 40px;
  width: 40px;
  background: #ed1b24;
  position: absolute;
  bottom: -20px;
  left: -20px;
  transform: rotateZ(45deg);
  opacity: 0;
  transition: all .3s ease;
}

#productDetail .related-product-belt .product-module .product-brand {
  color: #ed1b24;
}

#productDetail .related-product-belt .product-module .product-name {
  min-height: 30px;
  line-height: 14px;
  margin-top: 3px;
  text-transform: uppercase;
}

#productDetail .related-product-belt .product-module .product-sku {
  opacity: 0.5;
  margin: 5px 0 50px;
  font-size: 14px;
}

#productDetail .related-product-belt .product-module.slick-active {
  opacity: 1;
}

#productDetail .related-product-belt .product-module:hover {
  border: 1px solid #555;
}

#productDetail .related-product-belt .product-module:hover img {
  transform: scale(1.1);
}

#productDetail .related-product-belt .product-module:hover .zoom {
  opacity: 1;
}

#productDetail .filter-parent {
  max-height: 41px;
  overflow: hidden;
  transition: all .3s ease;
}

#productDetail .filter-parent .filter-parent-handle {
  border: 1px solid #063350;
  color: #063350;
  padding: 10px;
  width: 100px;
  text-align: center;
  font-size: 14px;
}

#productDetail .filter-parent.active {
  max-height: 900px;
}

.product-highlights {
  border-top: 1px solid #d7d7d7;
  width: 100%;
  margin-top: 50px;
}

.product-highlights .highlight-flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  top: -41px;
}

.product-highlights .highlight-flex .flex-module {
  padding: 10px 10px;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  font-size: 14px;
  background: #fff;
  color: white;
  margin-right: -1px;
  cursor: pointer;
  text-align: center;
  transition: all .3s ease;
  color: #555;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.product-highlights .highlight-flex .flex-module.active {
  background: #d7d7d7;
  border: 1px solid #d7d7d7;
  color: black;
}

.product-highlights .highlight-flex .highlight-container {
  width: 100%;
  padding: 20px 10px;
  display: none;
  font-size: 14px;
  margin-bottom: 20px;
  border: 1px solid #d7d7d7;
  border-top: 0;
}

.product-highlights .highlight-flex .highlight-container.active {
  display: block;
}

.w25 {
  width: 100%;
}

.w75 {
  width: 100%;
}

#productList {
  min-height: 80vh;
  padding: 10px 10px;
}

#productList .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#productList .filter-group {
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  max-height: 43px;
  overflow: hidden;
  transition: all .5s linear;
}

#productList .filter-group .filter-handle {
  font-family: ClearBold;
  text-transform: uppercase;
  padding: 0 10px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

#productList .filter-group .filter-handle:after {
  content: "+";
  position: absolute;
  right: 10px;
}

#productList .filter-group .filter-options {
  padding-left: 10px;
  font-size: 14px;
}

#productList .filter-group .filter-options li {
  padding: 5px 0;
  cursor: pointer;
}

#productList .filter-group.active {
  max-height: 1000px;
}

#productList .filter-group.active .filter-handle:after {
  content: "-";
  position: absolute;
  right: 10px;
}

#productList .banner {
  height: 180px;
  background: #063350;
}

#productList .product-category {
  width: 100%;
  font-family: ClearBold;
  padding: 20px 0;
  font-size: 20px;
}

#productList .product-category .total-items {
  float: right;
  font-family: ClearReg;
  opacity: 0.6;
  font-size: 14px;
}

#productList .product-category .total-items .item {
  font-weight: bold;
}

#productList .product-list-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#productList .product-module {
  width: 49%;
  font-family: ClearBold;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 10px;
  text-align: center;
}

#productList .product-module .red-button {
  display: inline-block;
  font-size: 13px;
}

#productList .product-module img {
  width: 100%;
  display: block;
}

#productList .brand {
  color: #ed1b24;
}

#productList .name {
  text-transform: uppercase;
  margin-bottom: 30px;
}

#brand {
  padding-top: 10px;
  padding-bottom: 100px;
}

#brand .brand-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

#brand .brand-flex .brand-module {
  width: 110px;
  border: 1px solid #eee;
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 40px 0;
}

#brand .brand-flex .brand-module img {
  display: block;
  margin: auto;
}

#promotion {
  padding-top: 10px;
  padding-bottom: 100px;
}

#promotion .promotion-flex {
  padding: 60px 0 100px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

#promotion .promotion-flex .promotion-module {
  position: relative;
  width: 80%;
  margin: 10px;
}

#promotion .promotion-flex .promotion-module img {
  width: 100%;
  display: block;
}

#promotion .promotion-flex .promotion-module .hover-tint {
  height: 100%;
  width: 100%;
  background: rgba(8, 27, 41, 0.88);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all .3s ease;
}

#promotion .promotion-flex .promotion-module .hover-tint .border-button {
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

#promotion .promotion-module:hover .hover-tint {
  opacity: 1;
}

#newsList, #videoList {
  min-height: 80vh;
  padding: 10px;
}

#newsList .flex, #videoList .flex {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}

#newsList .flex-module, #videoList .flex-module {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

#newsList .flex-module .image-box, #videoList .flex-module .image-box {
  width: 50%;
}

#newsList .flex-module .image-box img, #videoList .flex-module .image-box img {
  width: 100%;
  display: block;
}

#newsList .flex-module .desc, #videoList .flex-module .desc {
  font-family: ClearBold;
  padding-left: 15px;
  padding-top: 5px;
  width: 50%;
  color: #063350;
}

#newsList .flex-module .desc .date, #videoList .flex-module .desc .date {
  font-family: ClearReg;
  opacity: 0.6;
  color: black;
}

#newsDetail {
  padding: 10px;
  min-height: 80vh;
  padding-bottom: 200px;
}

#newsDetail .date {
  text-align: center;
  opacity: 0.8;
  font-size: 14px;
  padding: 5px 0;
}

#newsDetail .news-banner {
  padding: 30px 0;
  width: 95%;
  margin: auto;
}

#newsDetail .news-banner img {
  display: block;
  width: 100%;
}

#newsDetail .paragraph {
  width: 95%;
  margin: auto;
  color: rgba(0, 0, 0, 0.86);
  text-align: justify;
}

#newsDetail .paragraph img {
  display: block;
  margin: 10px 0 0;
  max-width: 100%;
}

#map {
  min-height: 400px;
  background: black;
}

textarea {
  font-family: Inherit;
}

#contactUs {
  padding: 10px;
  min-height: 80vh;
}

#contactUs .contact-flex {
  padding-top: 40px;
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

#contactUs .title {
  font-family: ClearBold;
  font-size: 20px;
  color: #063350;
}

#contactUs .left {
  width: 100%;
  padding-bottom: 30px;
}

#contactUs .form-container {
  display: flex;
  flex-wrap: wrap;
}

#contactUs .form-container .group {
  width: 100%;
  position: relative;
}

#contactUs .form-container .group .floating-placeholder {
  font-size: 13px;
  color: #aaa;
  position: absolute;
  left: 13px;
  top: 12px;
  transition: all .3s ease;
}

#contactUs .form-container .group .floating-placeholder.active {
  font-size: 8px;
  top: 2px;
}

#contactUs .form-container .full-input {
  background: #fff;
  border: 1px solid #aaa;
  width: 100%;
  margin: 5px 0;
  padding: 15px 12px 10px;
  outline: none;
  border-radius: 5px;
}

#contactUs .form-container .full-submit {
  background: #063350;
  width: 100%;
  margin: 5px 0;
  padding: 15px 15px;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#contactUs .group {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 23px;
}

#contactUs .group .title {
  font-size: 16px;
  margin-bottom: 5px;
}

#about {
  padding: 30px 0;
  background-image: url("../img/dummy/dummy-9.png");
}

#about .section-title {
  background: none;
  color: white;
}

#about .paragraph {
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: white;
  opacity: 0.87;
  padding: 20px 0;
}

#vision {
  padding: 40px 0;
}

#vision .section-title {
  font-size: 16px;
}

#vision .vision-flex {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

#vision .vision-flex .flex-module {
  width: 210px;
  height: 210px;
  background: red;
  border-radius: 50%;
  margin: 0 -10px;
  position: relative;
  transition: all .4s ease;
  color: white;
}

#vision .vision-flex .flex-module .ring {
  width: 90%;
  height: 90%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 20% 10%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

#vision .vision-flex .flex-module .ring .title {
  font-family: ClearBold;
  opacity: 0.7;
  width: 100%;
}

#vision .vision-flex .flex-module .ring .paragraph {
  font-size: 10px;
  margin-top: 10px;
}

#vision .vision-flex .flex-module.active {
  z-index: 5;
}

#vision .vision-flex .red {
  background: #ed1b24;
  text-align: right;
}

#vision .vision-flex .blue {
  background: #063350;
}

#vision .vision-flex .flex-module:hover {
  z-index: 5;
}

#vision .vision-flex:hover .flex-module:hover {
  z-index: 5;
  opacity: 1;
}

#proposition {
  padding: 40px 0;
  padding-bottom: 150px;
}

#proposition .section-title {
  font-size: 16px;
}

#proposition .flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

#proposition .flex .flex-module {
  width: 33%;
  padding: 10px;
}

#proposition .flex .flex-module img {
  display: block;
  padding-bottom: 20px;
}

#proposition .flex .top {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 20px;
  position: relative;
  min-height: 80px;
}

#proposition .flex .top .title {
  font-family: ClearBold;
  letter-spacing: 0;
}

#proposition .flex .top:after {
  content: "";
  width: 40px;
  border: 1px solid #ddd;
  position: absolute;
  bottom: 9px;
}

#proposition .flex .paragraph {
  font-size: 13px;
}
