// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;

}
//init end

//pallette
@font-face {
    font-family: ClearBold;
    src: url('../fonts/ClearSans-Bold.ttf');
}
@font-face {
    font-family: ClearReg;
    src: url('../fonts/ClearSans-Regular.ttf');
}
$main-blue: #063350;
$main-red: #ed1b24;
$container-width: 100%;
.container{
    width: $container-width;
    margin: auto;
    padding: 0 10px;
}
$navbar-height: 68px;
p{
    padding-bottom: 15px;
}
//pallette

.product-zoom{
    display: none
}
//NAVBAR
.category_menu_list{
    display: none !important;
}
.logo-container{
    padding-left: 15px;
    font-family: 'Baloo Da';
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
    .sub-caption{
        font-size: 10px;
        font-family: ClearReg;
        opacity: 0.7;
        text-align: left;
        padding: 0;
        width: 100%;
        display: none;
    }
    img{
        vertical-align: middle;
        padding-right: 10px;
        width: 40px;
    }
}
.view-all-brand{
    @extend .red-button;
    margin: auto;
    width: 150px !important;
    display: block;
    text-align: center;
}
#navbar{
    background-color: $main-blue;
    padding: 15px 0;
    // border-bottom: 5px solid $main-red;
    color: white;
    font-family: ClearReg;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 55;
    .group{
        display: flex;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-group{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .nav-drop{
        background: white;
        color: #555;
        padding: 5px 10px;
        height: 37px;
        outline: none;
        border-right: 1px solid #ccc;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        width: 30%;
        // margin: 10px 0;
    }
    .cart-button{
        // padding: 10px 0;
        margin-right: 10px;
        a{
            display: flex;
            align-items: center;
        }

    }
    .nav-input{
        background: white;
        color: #555;
        padding: 5px 15px;
        height: 37px;
        // width: 190px;
        width: 50%;
        outline: none;
    }
    .nav-submit{
        background: #000;
        color: #eee;
        padding: 5px 10px;
        height: 37px;
        outline: none;
        width: 20%;
    }
    .right{
        position: relative;
        top: 15px;
        // display: none;
        position: absolute;
        top: 68px;
        background: $main-blue;
        padding-bottom: 20px;
        display: none;
        left: 0;
        width: 100%;
    }
    .right.active{
        display: block;
    }
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        font-size: 14px;
        flex-wrap: wrap;
        padding: 10px 20px 0;
        // width: 80%;
        position: relative;
        img{
            display: inline-block;
            vertical-align: baseline;
            position: relative;
            top: 3px;
            padding-right: 5px;
        }
        .cart-button{
            display: none;
        }
    }
    .bottom{

        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 100%;
                position: relative;
                a{
                    text-transform: uppercase;
                    font-family: ClearBold;
                    display: block;
                    height: 40px;
                    padding: 0 20px;
                    line-height: 40px;
                    font-size: 14px;
                    text-align: center;
                }
                .sub-menu{
                    display: none;
                    // padding-left: 10px;
                    padding-bottom: 15px;

                    a{
                        font-family: ClearReg;
                        height: 30px;
                        padding: 0 20px;
                        line-height: 30px;
                        text-transform: capitalize;
                    }
                }
            }

            // li:hover{
            //     background: rgba(0,0,0,0.8);
            // }
            li.active{
                background: rgba(0,0,0,0.8);
                .sub-menu{
                    display: block;
                }
            }
        }
    }
}
.has-submenu > :after{
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    position: relative;
    left: 8px;
    top: 13px;
    display: none;
}
.has-submenu.active > :after{
    content: "";
    width: 0;
    height: 0;
    border-top: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
    position: relative;
    left: 8px;
    top: -10px;
    display: none;
}
.mobile-handle{
    width: 30px;
    margin-right: 15px;
    position: relative;
    transition: all .3s ease;
    .line{
        margin: 4px 5px;
        border: 1px solid white;
        position: relative;
        transition: all .2s ease;
        top: 0;
    }
}
.mobile-handle.active{
    transform: rotateZ(90deg);
    #line1{
        transform: rotateZ(45deg);
        top: 6px;
    }
    #line2{
        opacity: 0;
    }
    #line3{
        transform: rotateZ(135deg);
        top: -6px;
    }
}
.language-container{
    display: none;
}
//NAVBAR

.spec-group{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
    .spec-caption{
        min-width: 120px;


    }
}
//parentContainer
#parentContainer{
    position: relative;
    // padding-top: $navbar-height;
    font-family: ClearReg;
}
#indexSlider{
    // display: none;
}
#indexSlider2{
    display: none;
}
#indexSlider, #indexSlider2{
    position: relative;
    img.img-hide-desktop{
        display: block;
        width: 100%;
    }
    .slider-timer{
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: transparent;
        overflow: hidden;
        .slider-bar{
            height: 100%;
            width: 0%;
            background: red;
        }
        .slider-bar.empty{
            width: 0%;
            // transition: all 2s linear;

        }
        .slider-bar.full{
            width: 100%;
        }
    }
    .arrow-container.next{
        right: 10px;
        background: rgba(255,255,255,0.4);
    }
    .arrow-container.prev{
        left: 10px;
        background: rgba(255,255,255,0.4);
    }
    .slide-items{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        // background: none !important;
        min-height: 29vw;
        width: 100%;
    }
    .container{
        background: transparent;
        position: relative;
        // height: 55vh;
        // width: 1100px;
    }
    .slide-img{
        position: absolute;
        transform: translate(-50%, -50%);
        max-width: 80vw;
    }
    .text-container{
        position: absolute;
        color: white;
        transform: translate(-50%, -50%);
        width: 70vw;
        text-align: center;
        .title{
            text-transform: uppercase;
            font-size: 20px;
            font-family: ClearBold;
            padding: 5px 10px 0;
            background: rgba(0,0,0,0.9);
            // opacity: 0.8;
            // display: inline-block;
        }
        .caption{
            // width: 500px;
            font-size: 14px;
            padding: 10px 10px;
            background: rgba(0,0,0,0.9);
            // opacity: 0.8;
        }
        .link-button{
            font-size: 14px;
            padding: 10px 10px;
            background: #f0802b;
            display: inline-block;
            margin-top: 20px;
            // opacity: 0.8;
            text-transform: uppercase;
        }
    }
    .hor-pos-1{
        left: 50%;
    }
    .hor-pos-2{
        left: 50%;
    }
    .hor-pos-3{
        left: 50%;
    }
    .hor-pos-4{
        left: 50%;
    }
    .hor-pos-5{
        left: 50%;
    }

    .vert-pos-1{
        top: 20%;
    }
    .vert-pos-2{
        top: 30%;
    }
    .vert-pos-3{
        top: 40%;
    }
    .vert-pos-4{
        top: 50%;
    }
    .vert-pos-5{
        top: 80%;
    }
}
.section-title{
    font-size: 18px;
    padding-bottom: 10px;
    font-family: ClearBold;
    text-transform: uppercase;
    color: $main-blue;
    text-align: center;
}
.sub-caption{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 14px;
}
#partnerSection{
    text-align: center;
    padding: 0px 0 40px;
    .container{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .group{
        width: 100%;
        padding: 10px 0;
    }
    .partner-flex{
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        justify-content: flex-start;
        margin: 10px auto;
        max-height: 90vw;
        overflow: hidden;
        .flex-module{
            position: relative;
            width: 30vw;
            height: 30vw;
            transition: all .3s ease;
            cursor: pointer;
            img{
                position: absolute;
                display: block;
                max-height: 80%;
                max-width: 80%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .flex-module:hover{
            box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
        }
    }
    .partner-flex.active{
        max-height: 10000px;
    }
}
.wing-line{
    background: white;
    position: relative;
}
.slick-slide{
    outline: none;
}
.arrow-container{
    height: 32px;
    width: 32px;
    background: rgba(0,0,0,1);
    position: absolute;
    z-index: 5;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;
    .arrow{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(-45deg);
        border: 2px solid white;
        height: 35%;
        width: 35%;
    }
}
.arrow-container.slick-disabled{
    background: rgba(0,0,0,.5);
}
.arrow-container.next{
    right: 10px;
    .arrow{
        left: 45%;
        border-top: 0;
        border-left: 0;
    }
}
.arrow-container.prev{
    left: 10px;
    .arrow{
        left: 55%;
        border-bottom: 0;
        border-right: 0;
    }
}
#indexLatest{
    margin-top: 50px;
    .latest-product-belt{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px auto;
        padding: 0 10px;
        .product-module{
            margin: 5px 5px;
            width: 47%;
            border: 1px solid #ccc;
            font-family: ClearBold;
            padding: 20px 10px 10px;
            border-radius: 3px;
            transition: all .3s ease;
            .product-image{
                margin-bottom: 20px;
                position: relative;
                overflow: hidden;
                height: 160px;
            }
            img{
                display: block;
                margin: auto;
                width: 100%;
                transition: all .3s ease;
            }
            .zoom{
                height: 40px;
                width: 40px;
                background: $main-red;
                position: absolute;
                bottom: -20px;
                left: -20px;
                transform: rotateZ(45deg);
                opacity: 0;
                transition: all .3s ease;
            }
            .product-brand{
                color: $main-red;
                font-size: 12px;
            }
            .product-name{
                min-height: 43px;
                line-height: 14px;
                margin-top: 3px;
                text-transform: uppercase;
                overflow: hidden;
                margin-bottom: 20px;
                font-size: 14px;
            }
            .product-sku{
                opacity: 0.5;
                margin: 5px 0 50px;
                font-size: 14px;
                display: none;
            }
        }
        .product-module:hover{
            border: 1px solid #555;
            img{
                opacity: 0.4;
            }
            .zoom{
                opacity: 1;
            }
        }
    }
}
.red-button{
    text-transform: uppercase;
    font-family: ClearBold;
    color: white;
    background: #ed1b24;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
a.red-button.added {
    background-color: #2AB41D;
    background-image: url(http://img.static.sldclc.com/checked.png);
    background-repeat: no-repeat;
    padding-left: 32px;
    background-size: 12px 12px;
    background-position: 17% 50%;
    display: none;
}
#indexNews{
    margin-top: 80px;
    .news-belt{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 0 10px;
        .news-module{
            width: 100%;
            margin-bottom: 20px;
            .news-image{
                overflow: hidden;
                // height: 160px;
            }
            img{
                display: block;
                margin: auto;
                max-height: 100%;
                max-width: 100%;
                transition: all .3s ease;
                position: relative;
                // transform: scale(1.1);
            }
            .news-title{
                font-family: ClearBold;
                color: $main-blue;
                font-size: 25px;
                text-transform: uppercase;
                padding-top: 10px;
                min-height: 60px;
            }
            .news-paragraph{
                font-size: 14px;
                line-height: 18px;
                padding-top: 10px;
                max-height: 84px;
                overflow: hidden;
            }
        }
        .news-module:hover{
            img{
                transform: scale(1);
            }
        }
    }
}

//parentContainer
.filter-group.active{
    max-height: 2500px !important;
}
#footer{
    // height: 400px;
    margin-top: 100px;
    background: $main-blue;
    border-top: 10px solid $main-red;
    position: relative;
    .has-submenu a:after{
        display: none;
    }
    .logo-container{
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
    .flex-map{
        width: 100%;
        padding-top: 20px;
        /* display: none; */
        position: absolute;
        bottom: 118px;
        opacity: 0.5;
        left: 50%;
        transform: translateX(-50%);
        img{
            width: 85%;
            display: block;
            margin: auto;
        }
    }
    .container{
        padding: 20px 0;
    }
    .floater{
        position: absolute;
        bottom: 100%;
        width: 100%;
        justify-content: center;
        display: flex;
        right: 0;
        // display: none;
    }
    .contact-module{
        background: #ed1b24;
        margin: 0px 10px;
        padding: 10px 20px 15px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: white;
        font-family: ClearBold;
        color: rgba(255, 255, 255, 0.9);
        font-size: 14px;
        border-bottom: 10px solid #ed1b24;
        box-shadow: inset 0px -3px 7px 0px rgba(0, 0, 0, 0.55);
    }
    .footer-flex{
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: ClearReg;
        padding: 10px 30px;
        flex-wrap: wrap;
        .flex-module{
            width: 100%;
            // text-align: center;
            position: relative;
            z-index: 5;
            margin-bottom: 10px;
            ul{
                display: flex;
                // justify-content: center;
                flex-wrap: wrap;
                li{
                    padding: 0 10px 0 0;
                    font-size: 13px;
                    // border-right: 1px solid white;
                    margin: 5px 0;
                    width: 100%;
                }
                li:last-child{
                    border: none;
                }
            }
        }
    }
    .module-title{
        font-family: ClearBold;
        margin-top: 15px;
    }
    .copyright{
        background: #061620;
        padding: 10px;
        color: white;
        font-family: ClearReg;
        font-size: 13px;
        text-align: center;
        li{
        }
    }
}


.breadcrumb{
    font-size: 14px;
    font-family: ClearReg;
    margin: 20px 0 10px;
    padding: 0 0px;
    .page{

    }
    .page.active{
        color: $main-red;
    }
    .page:last-child:after{
        content: ""
    }
    .page:after{
        content: "/";
        padding-left: 5px;
    }
}
.blue-button{
    background: #3157b3;
    color: rgba(255,255,255,0.87);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.post-pagination{
    width: 100%;
}
.product-video{
    padding: 20px 0;
}
.enquiry-empty-container {
    text-align: center;
    padding: 30px 0;
}
.view-product-button{
    @extend .red-button;
    background: #333;
    width: 200px;
    text-align: center;
    margin: 30px auto;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
    li > span, a{
        padding: 5px;
        height: 30px;
        width: 30px;
        text-align: center;
        margin: 5px 5px;
        border: 1px solid #eee;
        cursor: pointer;
        display: block;
        line-height: 17px;
        font-size: 14px;
    }
    li.active{
        font-weight: bold;
    }
}
#productDetail{
    min-height: 80vh;
    padding: 10px 10px;
    .product-preview{
        border: 1px solid #eee;
        padding: 10px;
    }
    .brand-logo{
        width: 100px;
        img{
            max-width: 100%;

        }
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    .filter-group{
        border: 1px solid #ddd;
        padding: 10px 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        max-height: 43px;
        overflow: hidden;
        transition: all .5s linear;
        .filter-handle{
            font-family: ClearBold;
            text-transform: uppercase;
            padding: 0 10px 10px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;

        }
        .filter-handle:after{
            content: "+";
            position: absolute;
            right: 5vw;
        }
        .filter-options{
            padding-left: 10px;
            font-size: 14px;
            li{
                padding: 5px 0;
                cursor: pointer;
            }
        }
    }
    .filter-group.active{
        max-height: 1000px;
        .filter-handle:after{
            content: "-";
            position: absolute;
            right: 5vw;
        }
    }
    .product-thumbnail{
        width: 100%;
        padding: 30px 0;
        img{
            display: block;
            margin: auto;
            width: 100%;
        }
        .product-grid{
            display: flex;
            padding: 30px 0;
            justify-content: center;
            .product-box{
                width: 50px;
                // height: 50px;
                border: 1px solid #ddd;
                padding: 5px;
                margin-right: 5px;
                cursor: pointer;
                img{
                    width: 100%;
                }
            }
        }
    }
    .product-description{
        width: 100%;
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .product-title{
            font-family: ClearBold;
            margin: 10px 0;
            font-size: 17px;
        }
        .product-paragraph{
            font-size: 13px;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }
        .product-anchor{
            font-size: 15px;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }
        .product-anchor.active{
            color: $main-blue;
            border-bottom: 1px solid $main-blue;
        }

    }
    .related-product-belt{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px auto;
        width: 100%;
        // padding: 0 40px;
        .product-module{
            margin: 5px 5px;
            border: 1px solid #ccc;
            font-family: ClearBold;
            padding: 15px 15px 40px;
            border-radius: 3px;
            transition: opacity 1.3s ease;
            opacity: 0.0;
            opacity: 1;
            width: 47%;
            .product-image{
                margin-bottom: 20px;
                position: relative;
                min-height: 128px;
                overflow: hidden;
                min-height: 40vw;
            }
            img{
                display: block;
                margin: auto;
                width: 100%;
                transition: all .3s ease;
            }
            .zoom{
                height: 40px;
                width: 40px;
                background: $main-red;
                position: absolute;
                bottom: -20px;
                left: -20px;
                transform: rotateZ(45deg);
                opacity: 0;
                transition: all .3s ease;
            }
            .product-brand{
                color: $main-red;
            }
            .product-name{
                min-height: 30px;
                line-height: 14px;
                margin-top: 3px;
                text-transform: uppercase;
            }
            .product-sku{
                opacity: 0.5;
                margin: 5px 0 50px;
                font-size: 14px;
            }
        }
        .product-module.slick-active{
            opacity: 1;
        }
        .product-module:hover{
            border: 1px solid #555;
            img{
                // opacity: 0.4;
                transform: scale(1.1);
            }
            .zoom{
                opacity: 1;
            }
        }
    }
    .filter-parent{
        max-height: 41px;
        overflow: hidden;
        transition: all .3s ease;
        .filter-parent-handle{
            border:1px solid $main-blue;
            color: $main-blue;
            padding: 10px;
            width: 100px;
            text-align: center;
            font-size: 14px;
        }
    }
    .filter-parent.active{
        max-height: 900px;
    }

}

.product-highlights{
    border-top: 1px solid #d7d7d7;
    width: 100%;
    margin-top: 50px;
    .highlight-flex{
        display: flex;
        flex-wrap: wrap;
        // width: 80%;
        margin: auto;
        position: relative;
        top: -41px;
        .flex-module{
            padding: 10px 10px;
            border: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
            font-size: 14px;
            background: #fff;
            color: white;
            margin-right: -1px;
            cursor: pointer;
            text-align: center;
            // width: 180px;
            transition: all .3s ease;
            color: #555;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .flex-module.active{
            background: #d7d7d7;
            border: 1px solid #d7d7d7;
            color: black;
            // border-bottom: 1px solid white;
        }
        .highlight-container{
            width: 100%;
            padding: 20px 10px;
            display: none;
            font-size: 14px;
            margin-bottom: 20px;
            border: 1px solid #d7d7d7;
            border-top: 0;
        }
        .highlight-container.active{
            display: block;
        }
    }
}

.w25{
    width: 100%;
}
.w75{
    width: 100%;
}

#productList{
    min-height: 80vh;
    padding: 10px 10px;
    .flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .w75{
            // padding-left: 30px;
        }
    }
    .filter-group{
        border: 1px solid #ddd;
        // margin-right: 20px;
        padding: 10px 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        max-height: 43px;
        overflow: hidden;
        transition: all .5s linear;
        .filter-handle{
            font-family: ClearBold;
            text-transform: uppercase;
            padding: 0 10px 10px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;

        }
        .filter-handle:after{
            content: "+";
            position: absolute;
            right: 5vw;
        }
        .filter-options{
            padding-left: 10px;
            font-size: 14px;
            li{
                padding: 5px 0;
                cursor: pointer;
            }
        }
    }
    .filter-group.active{
        max-height: 1000px;
        .filter-handle:after{
            content: "-";
            position: absolute;
            right: 5vw;
        }
    }
    .banner{
        height: 180px;
        background: $main-blue;
    }
    .product-category{
        width: 100%;
        font-family: ClearBold;
        padding: 20px 0;
        font-size: 20px;
        .total-items{
            float: right;
            font-family: ClearReg;
            opacity: 0.6;
            font-size: 14px;
            .item{
                font-weight: bold;
            }
        }
    }
    .product-list-parent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product-module{
        width: 49%;
        font-family: ClearBold;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 10px 10px;
        text-align: center;
        .image-container{
            height: 180px;
            overflow: hidden;
            position: relative;
        }
        .red-button{
            display: inline-block;
            font-size: 13px;
        }
        a.red-button.added {
            background-color: #2AB41D;
            background-image: url(http://img.static.sldclc.com/checked.png);
            background-repeat: no-repeat;
            padding-left: 32px;
            background-size: 12px 12px;
            background-position: 17% 50%;
            display: none;
        }
        img{
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .brand{
        color: $main-red;
    }

    $font-size: 14px;
    $line-height: 1.4;
    $lines-to-show: 3;
    $padding-top: 0px;
    .name{
        text-transform: uppercase;
        min-height: 50px;
        word-break: break-word;
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        // max-width: 400px;
        height: $font-size*$line-height*$lines-to-show+$padding-top; /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
    }
}
.filter-options{
    li{
        a{
            display: inline-block;
            width: 90%;
        }
        .expand-subcat{
            width: 16px;
            height: 16px;
            border: 1px solid #ccc;
            display: inline-block;
            text-align: center;
            line-height: 11px;
            border-radius: 3px;
            font-weight: normal !important;
        }
        .category_select_list{
            display: none;
            li{
                position: relative;
                padding: 3px 15px !important;
            }
            li:after{
                content: "";
                height: 8px;
                width: 1px;
                background: #aaa;
                display: block;
                position: absolute;
                left: 3px;
                top: 6px;
            }
            li:before{
                content: "";
                width: 8px;
                height: 1px;
                background: #aaa;
                display: block;
                position: absolute;
                left: 3px;
                top: 13px;
            }
        }
    }
    li.active{
        font-weight: bold;
        .category_select_list{
            font-weight: normal;
            display: block;
            a{
                font-weight: normal;
            }
        }
    }
    li:hover{
        // text-decoration: underline;
        .category_select_list{
            li{
                position: relative;
                text-decoration: none;
            }
            li:hover{
                text-decoration: underline;
            }
        }
    }
}
#brand{
    padding-top: 10px;
    padding-bottom: 100px;
    .brand-flex{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        // justify-content: center;
        text-align: center;
        margin: 10px auto;
        width: 100%;
        .brand-module{
            width: 33.3%;
            height: 15vh;
            border: 1px solid #eee;
            position: relative;
            text-align: center;
            align-items: center;
            align-content: center;
            // padding: 40px 0;
            img{
                display: block;
                margin: auto;
                max-width: 85%;
                max-height: 85%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

#promotion{
    padding-top: 10px;
    padding-bottom: 100px;
    .promotion-flex{
        padding: 60px 0 100px;
        display: flex;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;

        .promotion-module{
            position: relative;
            width: 80%;
            margin: 10px;
            img{
                width: 100%;
                display: block;
            }
            .hover-tint{
                height: 100%;
                width: 100%;
                background: rgba(8, 27, 41, 0.88);
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                transition: all .3s ease;
                .border-button{
                    border: 1px solid white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    padding: 10px 15px;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }

    }
    .promotion-module:hover{
        .hover-tint{
            opacity: 1;
        }
    }
}
#jo-popup{
    display: none;
}

#newsList, #videoList{
    min-height: 80vh;
    padding: 10px;
    .f-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px !important;
    }
    .content{
        width: 100%;
        iframe{
            width: 100%;
            height: 50vw;
        }
    }
    .hover-tint{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $main-blue;
        opacity: 0;
        transition: all .3s ease;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        flex-wrap: wrap;
    }
    .flex-module{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 40px;
        cursor: pointer;
        .image-box{
            width: 50%;
            position: relative;
            display: none;
            img{
                width: 100%;
                display: block;
            }
        }
        .desc{
            font-family: ClearBold;
            // padding-left: 25px;
            // padding-right: 25px;
            // padding-top: 5px;
            width: 100%;
            color: $main-blue;
            .date{
                font-family: ClearReg;
                opacity: 0.6;
                color: black;
            }
        }
    }
    .flex-module:hover{
        text-decoration: underline;
        .hover-tint{
            opacity: .7;
        }
    }
}
.section-container#newsList{
    padding: 0 5px;
        // display: block;
    .image-box{
        display: block;
        width: 100%;
    }
}

#newsDetail{
    padding: 10px;
    min-height: 80vh;
    padding-bottom: 200px;
    .date{
        text-align: center;
        opacity: 0.8;
        font-size: 14px;
        padding: 5px 0;
    }
    .news-banner{
        padding: 30px 0;
        width: 95%;
        margin: auto;
        img{
            display: block;
            width: 100%;
        }
    }
    .paragraph{
        width: 95%;
        margin: auto;
        color: rgba(0,0,0,0.86);
        text-align: justify;
        font-size: 14px;
        img{
            display: block;
            margin: 10px 0 0;
            max-width: 100%;
        }
    }
}

#map{
    min-height: 400px;
    background: black;
}
textarea{
    font-family: Inherit;
}
#contactUs{
    padding: 10px;
    min-height: 80vh;
    .contact-flex{
        padding-top: 40px;
        display: flex;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
    .title{
        font-family: ClearBold;
        font-size: 20px;
        color: $main-blue;
    }
    .left{
        width: 100%;
        padding-bottom: 30px;
    }
    .form-container{
        display: flex;
        flex-wrap: wrap;
        .group{
            width: 100%;
            position: relative;
            .floating-placeholder{
                font-size: 13px;
                color: #aaa;
                position: absolute;
                left: 13px;
                top: 12px;
                transition: all .3s ease;
            }
            .floating-placeholder.active{
                font-size: 8px;
                top: 2px;
            }
        }
        .full-input{
            background: #fff;
            border: 1px solid #aaa;
            width: 100%;
            margin: 5px 0;
            padding: 15px 12px 10px;
            outline: none;
            border-radius: 5px;
        }
        .full-submit{
            background: $main-blue;
            width: 100%;
            margin: 5px 0;
            padding: 15px 15px;
            outline: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    }
    .group{
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 23px;
        .title{
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
}


#about{
    padding: 30px 0;
    background-image: url('../img/dummy/dummy-9.png');
    .section-title{
        background: none;
        color: white;
    }
    .paragraph{
        width: 60%;
        margin: auto;
        text-align: center;
        font-size: 14px;
        color: white;
        opacity: 0.87;
        padding: 20px 0;
    }
}

#vision{
    padding: 40px 0;
    .section-title{
        font-size: 16px;
    }
    .vision-flex{
        display: flex;
        padding: 5px 0;
        justify-content: center;
        flex-wrap: wrap;
        .flex-module{
            width: 210px;
            height: 210px;
            background: red;
            border-radius: 50%;
            margin: 10px;
            position: relative;
            transition: all .4s ease;
            color: white;
            text-align: center;
            .ring{
                width: 90%;
                height: 90%;
                border: 1px solid #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                padding: 20% 10%;
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                .title{
                    font-family: ClearBold;
                    opacity: 0.7;
                    width: 100%;
                }
                .paragraph{
                    font-size: 10px;
                    margin-top: 10px;
                }
            }
        }
        .flex-module.active{
            z-index: 5;
        }
        .red{
            background: $main-red;
        }
        .blue{
            background: $main-blue
        }
        .flex-module:hover{
            z-index: 5;
        }
    }
    .vision-flex:hover{
        .flex-module{
        }
        .flex-module:hover{
            z-index: 5;
            opacity: 1;
        }
    }
}

#proposition{
    padding: 40px 0;
    // padding-bottom: 150px;
    .section-title{
        font-size: 16px;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        margin-top: 20px;
        flex-wrap: wrap;
        .flex-module{
            width: 100%;
            padding: 30px 10%;
            text-align: center;
            max-width: 600px;
            margin: auto;
            img{
                display: block;
                margin: auto;
                padding-bottom: 10px;
            }
        }
        .top{
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-bottom: 20px;
            position: relative;
            min-height: 80px;
            .title{
                font-family: ClearBold;
                letter-spacing: 0;
            }
        }
        .top:after{
            content: "";
            width: 40px;
            border: 1px solid #ddd;
            position: absolute;
            bottom: 18px;
            left: 50%;
            transform: translateX(-50%);
        }
        .paragraph{
            font-size: 13px;
            // padding-right: 30px;
        }
    }
}

#inquiryParent{
    padding-top: 40px;
    font-family: ClearReg;
    .section-title{
        text-align: left;
        width: 100%;
    }
    .table-parent{
        padding-bottom: 40px;
        .table-flex{
            display: flex;
            align-items: center;
            padding: 10px;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            flex-wrap: wrap;
        }
        .table-flex.header{
            font-family: ClearBold;
            text-transform: uppercase;
            border: 1px solid #ccc;
            padding: 10px 20px;
            color: $main-blue;
            .delete-icon, .product-notes, .product-quantity{
                display: none;
            }
        }
        .table-flex:last-child{
            border-bottom: 0;
        }
    }
    .table-parent.no-border{
        .table-flex{
            border-bottom: 0;
        }
        .table-flex.header{
            border: 1px solid #ccc;
        }
        .table-flex:last-child{
            border-top: 1px solid #ccc;
        }
    }
    .delete-icon{
        width: 40px;
    }
    .product-quantity{
        width: 20%;
    }
    .product-notes{
        width: 100%;
    }
    .subcaption{
        font-family: ClearReg;
        font-size: 10px;
        opacity: 0.7;
    }
    .caption{
        width: 100%;
        font-family: ClearBold;

    }
    .full-input{
        background: #eee;
        width: 100%;
        resize: vertical;
        border: 1px solid #ddd;
        outline: none;
        padding: 10px;
    }
    .full-input.success{
        background: #e2efd5;
        border: 1px solid #5f953c;
    }
    .full-input.failed{
        background: #f5d8d8;
        border: 1px solid #c34545;
    }
    .number-field{
        background: white;
        border: 1px solid #aaa;
        padding: 0 5px;
        height: 35px;
        min-width: 60px;
        width: 60px;
        max-width: 100px;
        outline: none;
    }
    .inquiry-button{
        background: $main-red;
        color: white;
        font-family: ClearBold;
        padding: 10px 20px;
        cursor: pointer;
    }
    .caption{
        .upload{

        }
    }
    .group{
        width: 100%;
        display: flex;
        align-items: center;
        .grey-button{
            background: #333;
            border-radius: 3px;
            color: white;
            padding: 8px 20px;
            margin: 0 10px;
            cursor: pointer;
            font-size: 12px;

        }
        .full-input{
            width: 55%;
            display: inline-block;
        }
    }
    .product-container{
        display: flex;
        align-items: center;
        width: 50%;
        img{
            max-width: 100px;
        }
        .desc{
            padding-left: 20px;
            font-family: ClearBold;
            .brand{
                color: $main-red;
            }
        }
    }
}

ul.slick-dots {
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    li{
        width: 8px;
        height: 8px;
        background: black;
        border-radius: 50%;
        margin: 3px;
        opacity: 0.5;
        button{
            display: none;
        }
    }
    li.slick-active{
        opacity: 1;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .img-hide-desktop{
        display: none !important;
    }
    #partnerSection{
        .partner-flex{
            width: 80vw;
            max-height: 40vw;
            .flex-module{
                width: 20vw;
                height: 20vw;
            }
        }

    }
    #productDetail{
        .product-thumbnail{
            width: 60%;
            margin: auto;
            display: flex;
            .product-grid {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                vertical-align: unset;
                flex-direction: column;
                justify-content: flex-start;
                padding: 0 5px;
                .product-box{
                    width: 50px;
                    height: 50px;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                    }
                }
            }
        }
        .product-preview{
            width: 90%;
            img{
                display: block;
                margin: auto;
                width: auto;
                max-height: 500px;
                max-width: 100%;
            }
        }
    }
    #indexNews{
        .news-belt{
            justify-content: flex-start;
            .news-module{
                width: 33%;
                padding: 0 5px;
                .news-title{
                    font-size: 19px;
                }
            }
        }
    }
    #brand{
        .brand-flex{
            // max-width: 900px;
            justify-content: center;
            .brand-module{
                width: 180px;
                height: 180px;
            }
        }
        .brand-flex:after{
            content: "";
            width: 180px;
            height: 180px;
            display: block;
        }
    }
}
